[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
escape = "*"
markup = "*"
numpy = "*"
opencv-contrib-python = "*"
imutils = "*"

[dev-packages]

[requires]
python_version = "3.8"
